<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Verlichting</title>

    <!-- Bootstrap -->
    <% bootstrap = is_production ? fingerprinted_file("source/stylesheets/bootstrap.min.css") : 'bootstrap.min.css' %>
    <% normalize = is_production ? fingerprinted_file("source/stylesheets/normalize.css") : 'normalize.css' %>
    <% all = is_production ? fingerprinted_file("source/stylesheets/all.css") : 'all.css' %>
    <link href="/stylesheets/<%= bootstrap %>" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/<%= normalize %>" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/<%= all %>" rel="stylesheet" type="text/css" />
  </head>

  <body role="document" class="index">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" integrity="sha384-nrOSfDHtoPMzJHjVTdCopGqIqeYETSXhZDFyniQ8ZHcVy08QesyHcnOUpMpqnmWq" crossorigin="anonymous"></script>

    <% my_zwave = is_production ? fingerprinted_file("tmp/javascripts/my_zwave.min.js") : 'my_zwave.js' %>
    <% bootstrap = is_production ? fingerprinted_file("source/javascripts/bootstrap.min.js") : 'bootstrap.min.js' %>
    <script src="/javascripts/<%= my_zwave %>" type="text/javascript"></script>
    <script src="/javascripts/<%= bootstrap %>" type="text/javascript"></script>

    <div class="container-fluid">
      <div class="error  col-xs-12 col-lg-offset-4 col-lg-4"></div>
      <div class="notice col-xs-12 col-lg-offset-4 col-lg-4"></div>

      <div id="programmeButtons" class="col-xs-12 col-lg-offset-4 col-lg-4">
      </div>

      <div class="vacation-mode col-xs-12">
        <h1 class="col-xs-12">Vacation mode</h1>
        <div class="vacation-mode--off col-xs-12">
          <p>Vacation mode is <em>OFF</em></p>
          <div id="plan-vacation">
            <p>Average on-time: <input id="start-time" type="time" value="18:30" data-target="vacation-mode__start-time">
            <p>Average off-time: <input id="end-time" type="time" value="22:30" data-target="vacation-mode__end-time">
            <p><button class="add-day" data-behavior="start-vacation">Start</button>
          </div>
        </div>
        <div class="vacation-mode--on col-xs-12">
          <p>Vacation mode is <em>ON</em></p>
          <p>Average on-time: <span data-target="vacation-mode__start-time"></span>
          <p>Average off-time: <span data-target="vacation-mode__end-time"></span>

          <p><button class="vacation-mode__stop-button" data-behavior="stop-vacation">Stop vacation mode</button>
        </div>
      </div>

      <h1 id="lightsTitle" class="col-xs-12 col-lg-offset-4 col-lg-4">Lights</h1>
      <div id="lights" class="col-xs-12 col-lg-offset-4 col-lg-4">
      </div>

      <h1 id="latestEventsTitle" class="col-xs-12 col-lg-offset-4 col-lg-4">Latest events</h1>
      <div id="latest-events" class="col-xs-12">
      </div>
    </div>

    <!-- Modal -->
    <div class="loginDialog" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Please login</h4>
          </div>
          <div class="modal-body">
            <input type="text" id="username" name="username" />
            <input type="password" id="password" name="password" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary submit">Submit</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  </body>
</html>
